body,html{
    padding: 0;
    margin: 0;
    height:100%;
  }
  *{
    box-sizing: border-box;
  }
  .part-one{
    position: relative;
    background-blend-mode: darken;
  }
  
  .nav-logo{
    position: absolute;
    top:3.8rem;
    left:2rem;
    text-decoration: none;
    color: #0D6152;
    font-size: 2rem;
    font-weight: bold;
  }
  .div-one{
   position: absolute;
   right: 0;
   top:4rem;
  }
  nav{
    display: none;
  }
  .nav-links{
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    margin-right: 1rem;
    font-family: Rosario;
    font-style: normal;
    font-weight: bold;
    color: white;
  }
  .nav-links:active{
    background-color: #E2581D;
    color:white;
  }
    .nav-links-focus:visited,
    .nav-links-focus:link{
    background-color: #E2581D;
    color:white;
    text-decoration: none;
    padding:2px;
    text-align: center;
  }
  .nav-toggle:checked~nav{
    display: block;
  }
  .nav-toggle{
    display: none;
  }
  .nav-toggle-label{
    position: absolute;
    right:0;
    top:  4rem;
    /* margin-top: 1rem; */
    margin-right: 1rem; 
  }
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after{
    display: block;
    height:2px;
    width:2em;
    background-color: orangered;
    border-radius: 2px;
    position:relative;
  }
  .nav-toggle-label span::before,
  .nav-toggle-label span::after{
    content: '';
    position: absolute;
  }
  .nav-toggle-label span::before{
    bottom: 7px;
  }
  .nav-toggle-label span::after{
    top:7px;
  }
  .sq2{
    position: absolute;
    top:0;
    width: 100%;
    height: 10%;
    background: #514C44;
    mix-blend-mode: hard-light;
    isolation: isolate;
  }
  
  @media screen and (min-width:600px){
    .nav-toggle-label{
        display: none;
    }
    nav{
        all:unset;
    }
    .nav-links{
        display: inline-block;
    }
  }
  
  .words{
    position: absolute;
    top:6rem;
    left:8rem;
    width : 35%;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    font-family: Rosario;
    
  }
  
  .appt-button{
    background-color:#0D6152;
    color:white;
    padding:5px;
    font-family: Rosario;
    font-size: 16px;
    border: none;
  }
  
  @media screen and (max-width:320px){
    .words{
        left:5rem;
    }
  }
  .top-contacts{
   text-align: center;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
  }
  .top-contacts a{
    text-align: center;
    text-decoration: none;
    padding: 2px;
    margin-top: 2px;
    color:wheat;
    font-family: Rosario;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  } 
  
  .sq3{
    position: absolute;
    width: 100%;
    height: 80vh;
    background: #514C44;
    mix-blend-mode: hard-light;
  }

  #aboutUsSection{
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: space-evenly;
    align-items: center;
    padding:1rem;
  }
  .aboutUs{
    padding-left:2rem;
    font-family: Rosario;
  }

    .aboutUs h3{
      margin-left:80%;
      text-align: center;
      border-bottom: 5px solid #E2581D;
      border-radius:10px;
    }

    .aboutUs button{
      margin-left:40%;
      color:white;
      background-color:#E2581D ;
      border-style: none;
      padding: 0.5rem;
      font-family: Rosario;
      font-size: 1rem;
    }

  @media screen and (max-width:400px){
    #aboutUsSection img{
      display:none;
    }
    #aboutUsSection{
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding:1rem 1rem 1rem 0px;
    }
    .aboutUs h3{
      text-align: center;
      margin: 0 auto;
      width:100px;
    }
    .aboutUs button{
      margin: 0 auto;
    }
  } 
  @media screen and (max-width:550px){
    #aboutUsSection{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  #weDo{
    display:grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
    align-content: center;
  }
  .projects{
    padding: 1rem;
    border:2px thin rgb(0, 0, 0);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #E5E5E5;
    color:#063b32;
  }
  .projects h4{
    color:#0c907a;
  }
 
  #footer-section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    align-items: center;
    text-align: center;
    background-color: #CE6032;
    margin-top: 2rem;
   color:white;
  }
  
  .msg{
    display: flex;
    flex-direction: column;
  }
  .msg input,textarea{
    margin:0.8rem;
    padding:1rem;
  }

  .msg button{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: auto;
  }

  .rights{
    background-color: #E2581D;
    text-align: center;
  }

  .msg button{
    background-color: #0D6152;
    color: white;
    border-style: none;
    margin-bottom: 0.5em;
  }